/* Custom color theme properties */
:root {
  --f7-theme-color: #01c4ff;
  --f7-theme-color-rgb: 1, 196, 255;
  --f7-theme-color-shade: #00a5d7;
  --f7-theme-color-tint: #2acdff;
}

/* Your app custom styles here */